<div style="margin-top: 150px;">
    
    <div class="text-center"> 
      <img src="assets/img/leaf-solid.png" class="img img-login"/> 
    </div>
  
    <div class="mb-3 text-center"> 
        <h3 style="color: white"><strong>Sistema de Controle Ambiental</strong></h3>
     </div> 
   
    <form class="form-signin shadow border-menu" #loginForm="ngForm">
      <h5 class="mt-3 pb-4 text-center"  style="color: #006400">Acesso ao sistema</h5>
      
      <div class="login-form-control">
        <div class="input-icon icon-username">
        </div>
        <input type="email"  [(ngModel)]="usuario.email" style="padding-left: 50px;" name="email" #email="ngModel"  id="inputUser" class="form-control" placeholder="Email" required autofocus>
      </div>

      <div class="login-form-control">
        <div class="input-icon icon-password">
        </div>
        <input type="password" id="inputPassword" style="padding-left: 50px;" [(ngModel)]="usuario.senha" name="senha" #senha="ngModel"  class="form-control" placeholder="Senha" required> 
      </div>
    
      <button class="btn btn-lg btn-primary btn-block mt-4 mb-3" style="background-color: #006400; border-color: #006400" type="submit" (click)="login()">Login</button>
  </form>
</div>