
<!-- Menu web comum -->
<div class="menu-full">
  <nav class="navbar fixed-top flex-md-nowrap p-0 border-menu" style="background-color: #228B22">
    <div style="text-align: start">
    <img src="assets/img/leaf-solid.png"  class="img img-home"/>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white">
      <strong> Sistema de Controle Ambiental </strong>
    </a>
  </div>
    <ul class="navbar-nav px-3">
      <li>
        <a href="#" class="text-white" (click)="logout()">Sair</a>
      </li>
    </ul>
  </nav>
</div>

<!-- Menu mobile responsivo -->
<div class="menu-responsivo">
  <nav class="navbar navbar-dark flex-md-nowrap p-0 border-menu" style="background-color: #228B22">
    <img src="assets/img/leaf-solid.png" class="img img-home"/>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white">
      Sistema de Controle Ambiental
    </a>
    <app-private-menu [responsivo]="true" (emitter)="logout()" style="flex-grow: 1;"></app-private-menu>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="menu-full">
      <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-sticky">
          <app-private-menu></app-private-menu>
        </div>
      </nav>
    </div>

    <main role="main" class="col-md-11 ml-sm-auto col-lg-10 mt-2">
       <router-outlet></router-outlet>
    </main>
</div>