<div class="menu-full">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 border-menu">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white">
      MINERADORA
    </a>
    <ul class="navbar-nav px-3">
      <li>
        <a href="#" class="text-white" (click)="logout()">Sair</a>
      </li>
    </ul>
  </nav>
</div>

<div class="menu-responsivo">
  <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 border-menu">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white">
      MINERADORA
    </a>
    <app-private-menu [responsivo]="true" (emitter)="logout()" style="flex-grow: 1;"></app-private-menu>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="menu-full">
      <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-sticky">
          <app-private-menu></app-private-menu>
        </div>
      </nav>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
      <router-outlet></router-outlet>
    </main>
    
  </div>