@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

html {
    min-height:100%;
    position:relative;
  }
  
  body {
    background-color: #e6e6fa;  
    overflow-y: scroll;
      overflow-x: hidden;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
