@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

html {
    min-height:100%;
    position:relative;
  }
  
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto','Helvetica Neue',helvetica,arial,sans-serif;
  }

  .size-icon {
    width: 12px;
    height: 12px;
  }

  .complete-task-icon {
    width: 50px !important;
    height: 50px !important;
    color: green;
    cursor: pointer;
  }

  .complete-task-icon > svg {
    margin-bottom: 10px;
  }
  
  /*
   * Sidebar
   */

  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Coloca atrás do navbar */
    padding: 46px 0 0; /* Altura do navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    
    overflow-x: hidden;
    overflow-y: auto; /* Conteúdo com rolagem, se a viewport é menor que o conteúdo. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
    font-size: 13px;
  }
  
 
  
  .sidebar .nav-link:hover .size-icon,
  .sidebar .nav-link.active .size-icon {
    color: inherit;
  }
  
  .sidebar-heading {
    text-transform: uppercase;
  }
  
  /*
   * Conteúdo
   */
  
  [role="main"] {
    padding-top: 48px; /* Espaço para o navbar fixo. */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .nav-item:focus, .nav-item:hover {
    background-color: #dee2e6;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 12px;
    width: 18px;
    height: 18px;
  }
  
  .login-form-control {
    position: relative;
  }

  .img {
    border: solid 3px white;
  }

  .img-login {
    width: 110px;
    height: 110px;
    padding: 10px;
    border-radius: 10px;
  }

  .img-home {
    width: 40px;
    height: 38px;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .input-icon::after {
    content: '';
    position: absolute;
    right: -11px;
    top: -10px;
    bottom: -10px;
    width: 1px;
    opacity: .5;
    background-color: rgba(212,212,212,0);
    background-image: -webkit-linear-gradient(bottom,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
    background-image: linear-gradient(to top,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
  }

  .icon-username {
    background: url(assets/img/icon-username3.png);
    background-repeat: repeat;
  }

  .icon-password {
    background: url(assets/img/icon-password3.png);
    background-repeat: repeat;
  }

  .nav-link {
    cursor: pointer;
  }

  .header {
    cursor: pointer;
    background-color: #228B22; 
    color: white;
    border: solid;
    border-width: 1px;
  }

  .text-white {
   color: white;
  }

  .text-black {
   color: black;
  }


  .menu-full {
    display: inherit;
  }


  .menu-responsivo {
     display: none;
  }

  @media only screen and (max-width: 768px) {
  
    .menu-full {
      display: none;
    }
  
  
    .menu-responsivo {
       display: inherit;
    }
  }

  .flex-grow {
    flex: 1;
  }

  label {
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
    font-weight: bold;
  }

  .main-card {
    padding-right: 60px; 
    padding-left: 60px;
  }

  .label-obrigatorio:after, div .required:after {
    content: "*";
    color: crimson;
    padding-left: 6px;
}
div .required:after {
    position: absolute;
}

   
